# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Entorno
.env
.env.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# AWS
.aws/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
*.auto.tfvars

# Datos locales
data/
output/
*.parquet
